<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable Node.js application -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL Rewrite rules for SPA routing -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to Node.js server -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set proper MIME types -->
    <staticContent>
      <mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- Enable compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="text/css" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="text/css" enabled="true"/>
      </staticTypes>
    </httpCompression>
    
    <!-- Security settings -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- IIS Node settings -->
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
  </system.webServer>
</configuration>
